openapi: 3.0.1
info:
  title: Shareworks Admin REST Authentication Token Write Access API
  description: Shareworks Admin REST API
  version: 1.0.0
servers:
- url: https://shareworks.solium.com/rest/admin
  description: Production
- url: https://sum-qa02.shareworks.com/rest/admin
  description: Sandbox
security:
- accessToken: []
tags:
- name: Write Access
paths:
  /v1/company:
    post:
      tags:
      - Write Access
      summary: POST Company (Create)
      description: Create a new private company with the default setup
      operationId: createCompany
      parameters:
      - name: Shareworks-Request-Id
        in: header
        description: An identifier unique to this request.  If a connection is broken or a response does not come in a timely manner, submit the same request again with this same identifier. Shareworks ensures that duplicate requests with the same identifier will only be processed once and will all return the same response.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyCrudRequest'
      responses:
        '201':
          description: Created. An object is created and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetails'
        '400':
          description: "The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.\n\nAlso occurs when using Shareworks-Request-Id header if:  \n- A previous request with the identifier has been submitted but is not yet complete  \n    - errors[] will include {code: 461, message: A request with the provided Shareworks-Request-Id is currently in-progress}  \n- A previous, but different, request was already processed with the same identifier  \n    - errors[] will include {code: 460, message: The provided Shareworks-Request-Id header is not unique for this user}"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}:
    put:
      tags:
      - Write Access
      summary: PUT Company (Update)
      description: Update the details of the specified company
      operationId: updateCompany
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyCrudRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetails'
        '400':
          description: The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/plan:
    post:
      tags:
      - Write Access
      summary: POST Plan (Create)
      description: Create a plan for the specified company
      operationId: createEquityIncentivePlan
      parameters:
      - name: Shareworks-Request-Id
        in: header
        description: An identifier unique to this request.  If a connection is broken or a response does not come in a timely manner, submit the same request again with this same identifier. Shareworks ensures that duplicate requests with the same identifier will only be processed once and will all return the same response.
        required: false
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharePoolPlanCreationRequest'
      responses:
        '201':
          description: Created. An object is created and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharePoolPlanDetails'
        '400':
          description: "The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.\n\nAlso occurs when using Shareworks-Request-Id header if:  \n- A previous request with the identifier has been submitted but is not yet complete  \n    - errors[] will include {code: 461, message: A request with the provided Shareworks-Request-Id is currently in-progress}  \n- A previous, but different, request was already processed with the same identifier  \n    - errors[] will include {code: 460, message: The provided Shareworks-Request-Id header is not unique for this user}"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/stakeholder/{stakeholderId}/stock-certificate:
    post:
      tags:
      - Write Access
      summary: POST Stock Certificate (Create)
      description: Create a stock certificate for the specified stakeholder
      operationId: createStockCertificate
      parameters:
      - name: Shareworks-Request-Id
        in: header
        description: An identifier unique to this request.  If a connection is broken or a response does not come in a timely manner, submit the same request again with this same identifier. Shareworks ensures that duplicate requests with the same identifier will only be processed once and will all return the same response.
        required: true
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: stakeholderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockCertificateCrudRequest'
      responses:
        '201':
          description: Created. An object is created and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockCertificateDetails'
        '400':
          description: "The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.\n\nAlso occurs when using Shareworks-Request-Id header if:  \n- A previous request with the identifier has been submitted but is not yet complete  \n    - errors[] will include {code: 461, message: A request with the provided Shareworks-Request-Id is currently in-progress}  \n- A previous, but different, request was already processed with the same identifier  \n    - errors[] will include {code: 460, message: The provided Shareworks-Request-Id header is not unique for this user}"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/stakeholder/stock-certificate/{stockCertificateId}:
    put:
      tags:
      - Write Access
      summary: PUT Stock Certificate (Update)
      description: Update the details of the specified stock certificate
      operationId: updateStockCertificate
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: stockCertificateId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockCertificateCrudRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockCertificateDetails'
        '400':
          description: The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/authorized-capital/stock-designation:
    post:
      tags:
      - Write Access
      summary: POST Stock Filing Designation (Create)
      description: Create a new stock filing by adding one new stock designation to the most recent filing
      operationId: createStockFilingWithNewDesignation
      parameters:
      - name: Shareworks-Request-Id
        in: header
        description: An identifier unique to this request.  If a connection is broken or a response does not come in a timely manner, submit the same request again with this same identifier. Shareworks ensures that duplicate requests with the same identifier will only be processed once and will all return the same response.
        required: false
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StockFilingWithNewDesignationCreationRequest'
      responses:
        '201':
          description: Created. An object is created and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockFilingDetails'
        '400':
          description: "The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.\n\nAlso occurs when using Shareworks-Request-Id header if:  \n- A previous request with the identifier has been submitted but is not yet complete  \n    - errors[] will include {code: 461, message: A request with the provided Shareworks-Request-Id is currently in-progress}  \n- A previous, but different, request was already processed with the same identifier  \n    - errors[] will include {code: 460, message: The provided Shareworks-Request-Id header is not unique for this user}"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/vesting-schedule:
    post:
      tags:
      - Write Access
      summary: POST Vesting Schedule (Create)
      description: Create a vesting schedule for the specified company
      operationId: createVestingSchedule
      parameters:
      - name: Shareworks-Request-Id
        in: header
        description: An identifier unique to this request.  If a connection is broken or a response does not come in a timely manner, submit the same request again with this same identifier. Shareworks ensures that duplicate requests with the same identifier will only be processed once and will all return the same response.
        required: false
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VestingScheduleCrudRequest'
      responses:
        '201':
          description: Created. An object is created and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VestingScheduleDetails'
        '400':
          description: "The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.\n\nAlso occurs when using Shareworks-Request-Id header if:  \n- A previous request with the identifier has been submitted but is not yet complete  \n    - errors[] will include {code: 461, message: A request with the provided Shareworks-Request-Id is currently in-progress}  \n- A previous, but different, request was already processed with the same identifier  \n    - errors[] will include {code: 460, message: The provided Shareworks-Request-Id header is not unique for this user}"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/vesting-schedule/{vestingScheduleId}:
    put:
      tags:
      - Write Access
      summary: PUT Vesting Schedule (Update)
      description: Update the details of the specified vesting schedule
      operationId: updateVestingSchedule
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: vestingScheduleId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VestingScheduleCrudRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VestingScheduleDetails'
        '400':
          description: The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/board/appointment:
    post:
      tags:
      - Write Access
      summary: POST Company Board Appointment (Create)
      description: Create a company board appointment to assign a stakeholder to the board
      operationId: createAppointment
      parameters:
      - name: Shareworks-Request-Id
        in: header
        description: An identifier unique to this request.  If a connection is broken or a response does not come in a timely manner, submit the same request again with this same identifier. Shareworks ensures that duplicate requests with the same identifier will only be processed once and will all return the same response.
        required: false
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyBoardAppointmentCreateCrudRequest'
      responses:
        '201':
          description: Created. An object is created and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBoardAppointmentDetails'
        '400':
          description: "The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.\n\nAlso occurs when using Shareworks-Request-Id header if:  \n- A previous request with the identifier has been submitted but is not yet complete  \n    - errors[] will include {code: 461, message: A request with the provided Shareworks-Request-Id is currently in-progress}  \n- A previous, but different, request was already processed with the same identifier  \n    - errors[] will include {code: 460, message: The provided Shareworks-Request-Id header is not unique for this user}"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/board:
    put:
      tags:
      - Write Access
      summary: PUT Company Board (Update)
      description: Update the details of the company board for officer/director tracking
      operationId: updateCompanyBoard
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyBoardCrudRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBoardDetails'
        '400':
          description: The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
    post:
      tags:
      - Write Access
      summary: POST Company Board (Create)
      description: Create the company board for officer/director tracking
      operationId: createCompanyBoard
      parameters:
      - name: Shareworks-Request-Id
        in: header
        description: An identifier unique to this request.  If a connection is broken or a response does not come in a timely manner, submit the same request again with this same identifier. Shareworks ensures that duplicate requests with the same identifier will only be processed once and will all return the same response.
        required: false
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyBoardCrudRequest'
      responses:
        '201':
          description: Created. An object is created and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBoardDetails'
        '400':
          description: "The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.\n\nAlso occurs when using Shareworks-Request-Id header if:  \n- A previous request with the identifier has been submitted but is not yet complete  \n    - errors[] will include {code: 461, message: A request with the provided Shareworks-Request-Id is currently in-progress}  \n- A previous, but different, request was already processed with the same identifier  \n    - errors[] will include {code: 460, message: The provided Shareworks-Request-Id header is not unique for this user}"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/board/appointment/{appointmentId}:
    put:
      tags:
      - Write Access
      summary: 'PUT Company Board Appointment (Update) '
      description: Update the details of the specified company board appointment
      operationId: updateAppointment
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: appointmentId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyBoardAppointmentUpdateCrudRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBoardAppointmentDetails'
        '400':
          description: The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/stakeholder/{stakeholderId}/grant:
    post:
      tags:
      - Write Access
      summary: POST Grant (Create)
      description: Create a grant for the specified stakeholder
      operationId: createStakeholderGrant
      parameters:
      - name: Shareworks-Request-Id
        in: header
        description: An identifier unique to this request.  If a connection is broken or a response does not come in a timely manner, submit the same request again with this same identifier. Shareworks ensures that duplicate requests with the same identifier will only be processed once and will all return the same response.
        required: true
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: stakeholderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StakeholderGrantCrudRequest'
      responses:
        '201':
          description: Created. An object is created and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakeholderGrantDetails'
        '400':
          description: "The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.\n\nAlso occurs when using Shareworks-Request-Id header if:  \n- A previous request with the identifier has been submitted but is not yet complete  \n    - errors[] will include {code: 461, message: A request with the provided Shareworks-Request-Id is currently in-progress}  \n- A previous, but different, request was already processed with the same identifier  \n    - errors[] will include {code: 460, message: The provided Shareworks-Request-Id header is not unique for this user}"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/stakeholder/grant/{grantId}:
    put:
      tags:
      - Write Access
      summary: PUT Grant (Update)
      description: Update the details of the specified grant
      operationId: updateStakeholderGrant
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: grantId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StakeholderGrantCrudRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StakeholderGrantDetails'
        '400':
          description: The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/stakeholder/entity:
    post:
      tags:
      - Write Access
      summary: 'POST Entity Stakeholder (Create) '
      description: Create an entity stakeholder for the specified company
      operationId: createEntityStakeholder
      parameters:
      - name: Shareworks-Request-Id
        in: header
        description: An identifier unique to this request.  If a connection is broken or a response does not come in a timely manner, submit the same request again with this same identifier. Shareworks ensures that duplicate requests with the same identifier will only be processed once and will all return the same response.
        required: true
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityStakeholderCrudRequest'
      responses:
        '201':
          description: Created. An object is created and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityStakeholderDetails'
        '400':
          description: "The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.\n\nAlso occurs when using Shareworks-Request-Id header if:  \n- A previous request with the identifier has been submitted but is not yet complete  \n    - errors[] will include {code: 461, message: A request with the provided Shareworks-Request-Id is currently in-progress}  \n- A previous, but different, request was already processed with the same identifier  \n    - errors[] will include {code: 460, message: The provided Shareworks-Request-Id header is not unique for this user}"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/stakeholder/individual:
    post:
      tags:
      - Write Access
      summary: POST Individual Stakeholder (Create)
      description: Create an individual stakeholder for the specified company
      operationId: createIndividualStakeholder
      parameters:
      - name: Shareworks-Request-Id
        in: header
        description: An identifier unique to this request.  If a connection is broken or a response does not come in a timely manner, submit the same request again with this same identifier. Shareworks ensures that duplicate requests with the same identifier will only be processed once and will all return the same response.
        required: true
        schema:
          type: string
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualStakeholderCrudRequest'
      responses:
        '201':
          description: Created. An object is created and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualStakeholderDetails'
        '400':
          description: "The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.\n\nAlso occurs when using Shareworks-Request-Id header if:  \n- A previous request with the identifier has been submitted but is not yet complete  \n    - errors[] will include {code: 461, message: A request with the provided Shareworks-Request-Id is currently in-progress}  \n- A previous, but different, request was already processed with the same identifier  \n    - errors[] will include {code: 460, message: The provided Shareworks-Request-Id header is not unique for this user}"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/stakeholder/entity/{stakeholderId}:
    put:
      tags:
      - Write Access
      summary: PUT Entity Stakeholder (Update)
      description: Update the details of the specified entity stakeholder
      operationId: updateEntityStakeholder
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: stakeholderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityStakeholderCrudRequest'
      responses:
        '201':
          description: Updated. An object is updates and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityStakeholderDetails'
        '400':
          description: The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
  /v1/company/{companyId}/stakeholder/individual/{stakeholderId}:
    put:
      tags:
      - Write Access
      summary: PUT Individual Stakeholder (Update)
      description: Update the details of the specified individual stakeholder
      operationId: updateIndividualStakeholder
      parameters:
      - name: companyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: stakeholderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualStakeholderCrudRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualStakeholderDetails'
        '400':
          description: The request was unacceptable, often due to missing a required parameter, malformed query, or malformed request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '401':
          description: You request was successful and valid but you do not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '403':
          description: When a request tries to access a resource that doesn't belong to them.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '422':
          description: There was a validation error. Check the error message to see what values caused the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
        '500':
          description: Servers are not working as expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
              encoding:
                ? ''
                : contentType: application/json
components:
  schemas:
    CompanyBoardAppointmentUpdateCrudRequest:
      title: Company Board Appointment Body
      required:
      - dateAppointed
      - isDirector
      - isIndependent
      - isOfficer
      - title
      type: object
      properties:
        title:
          type: string
          description: Title of the stakeholder position on the board (e.g. CFO)
        isIndependent:
          type: boolean
          description: Whether the company board appointment is an independent
        isDirector:
          type: boolean
          description: Whether the company board appointment is a director
        isOfficer:
          type: boolean
          description: Whether the company board appointment is an officer
        dateAppointed:
          type: string
          description: Date of appointment for the company board appointment
          format: date
        dateApproved:
          type: string
          description: Date of approval for the company board appointment
          format: date
        dateTerminated:
          type: string
          description: Date of termination for the company board appointment
          format: date
        note:
          type: string
          description: Notes for the company board appointment
    IndividualStakeholderCrudRequest:
      title: Individual Stakeholder Body
      required:
      - firstName
      - lastName
      type: object
      properties:
        firstName:
          type: string
          description: First name for the stakeholder
        middleName:
          type: string
          description: Middle name for the stakeholder
        lastName:
          type: string
          description: Last name for the stakeholder
        stakeholderNumber:
          type: string
          description: Number for the stakeholder, typically generated
    EntityStakeholderDetails:
      title: Entity Stakeholder Response
      required:
      - entityName
      - stakeholderId
      type: object
      properties:
        stakeholderId:
          type: integer
          description: Identifier for the stakeholder
          format: int32
        entityName:
          type: string
          description: Name for the entity stakeholder
        stakeholderNumber:
          type: string
          description: Number for the stakeholder, typically generated
    CompanyDetails:
      title: Company Response
      required:
      - companyName
      type: object
      properties:
        companyId:
          type: integer
          description: Identifier for the company
          format: int32
        companyName:
          type: string
          description: Name for the company
        enforceOneToOneDesignationToFund:
          type: boolean
          description: Require unique Fund for each Designation
        phone:
          type: string
          description: Primary phone number for the company
        fiscalYearEnd:
          type: string
          description: Fiscal year end for the company
          format: date
        stateOfIncorporation:
          type: string
          description: The state of incorporation for the company, if it is U.S.-based
          enum:
          - CA_AB
          - CA_BC
          - CA_MB
          - CA_NB
          - CA_NL
          - CA_NS
          - CA_NT
          - CA_NU
          - CA_ON
          - CA_PE
          - CA_QC
          - CA_SK
          - CA_YT
          - US_AK
          - US_AL
          - US_AR
          - US_AZ
          - US_CA
          - US_CO
          - US_CT
          - US_DC
          - US_DE
          - US_FL
          - US_GA
          - US_HI
          - US_IA
          - US_ID
          - US_IL
          - US_IN
          - US_KS
          - US_KY
          - US_LA
          - US_MA
          - US_MD
          - US_ME
          - US_MI
          - US_MN
          - US_MO
          - US_MS
          - US_MT
          - US_NC
          - US_ND
          - US_NE
          - US_NH
          - US_NJ
          - US_NM
          - US_NV
          - US_NY
          - US_OH
          - US_OK
          - US_OR
          - US_PA
          - US_RI
          - US_SC
          - US_SD
          - US_TN
          - US_TX
          - US_UT
          - US_VA
          - US_VT
          - US_WA
          - US_WI
          - US_WV
          - US_WY
          - US_AA
          - US_AE
          - US_AP
          - AS
          - GU
          - MP
          - PR
          - VI
          - AU_ACT
          - AU_NSW
          - AU_NT
          - AU_QLD
          - AU_SA
          - AU_TAS
          - AU_VIC
          - AU_WA
          - DE_BW
          - DE_BY
          - DE_BE
          - DE_BB
          - DE_HB
          - DE_HH
          - DE_HE
          - DE_MV
          - DE_NI
          - DE_NW
          - DE_RP
          - DE_SL
          - DE_SN
          - DE_ST
          - DE_SH
          - DE_TH
          - CH_ZH
          - CH_BE
          - CH_LU
          - CH_UR
          - CH_SZ
          - CH_OW
          - CH_NW
          - CH_GL
          - CH_ZG
          - CH_FR
          - CH_SO
          - CH_BS
          - CH_BL
          - CH_SH
          - CH_AR
          - CH_AI
          - CH_SG
          - CH_GR
          - CH_AG
          - CH_TG
          - CH_TI
          - CH_VD
          - CH_VS
          - CH_NE
          - CH_GE
          - CH_JU
          - IT_21
          - IT_23
          - IT_25
          - IT_32
          - IT_34
          - IT_36
          - IT_42
          - IT_45
          - IT_52
          - IT_55
          - IT_57
          - IT_62
          - IT_65
          - IT_67
          - IT_72
          - IT_75
          - IT_77
          - IT_78
          - IT_82
          - IT_88
        dateOfIncorporation:
          type: string
          description: The date of incorporation for the company
          format: date
        entityType:
          type: string
          description: Entity type for the company (e.g. LLC)
          enum:
          - C_CORP
          - S_CORP
          - LLC
          - SOLE_PROPRIETORSHIP
          - PARTNERSHIP
          - UNINCORPORATED_GROUP
          - ASSOCIATION
          - UNKNOWN
        companyAddresses:
          type: array
          description: List of up to three company addresses
          items:
            $ref: '#/components/schemas/CompanyAddressDetails'
        contacts:
          type: array
          description: List of all company contacts
          items:
            $ref: '#/components/schemas/CompanyContactDetails'
    IndividualStakeholderDetails:
      title: Individual Stakeholder Response
      required:
      - lastName
      - stakeholderId
      type: object
      properties:
        stakeholderId:
          type: integer
          description: Identifier for the stakeholder
          format: int32
        firstName:
          type: string
          description: First name for the stakeholder
        middleName:
          type: string
          description: Middle name for the stakeholder
        lastName:
          type: string
          description: Last name for the stakeholder
        stakeholderNumber:
          type: string
          description: Number for the stakeholder, typically generated
    StockCertificateDetails:
      title: Stock Certificate Response
      required:
      - effectiveDate
      - issuePrice
      - issueReason
      - quantity
      - stakeholderId
      - stockCertificateId
      - stockCertificateNumber
      - stockDesignationId
      - stockDesignationName
      type: object
      properties:
        stockCertificateId:
          type: integer
          description: Identifier for the stock certificate
          format: int32
        stakeholderId:
          type: integer
          description: Identifier for the stakeholder
          format: int32
        stockDesignationId:
          type: integer
          description: Identifier for the stock designation
          format: int32
        stockDesignationName:
          type: string
          description: Name for the stock designation
        stockCertificateNumber:
          type: string
          description: Number for the stock certificate
        quantity:
          type: number
          description: Quantity of shares for the stock certificate
          format: double
        issuePrice:
          type: number
          description: Issue price (a.k.a. strike price) for the stock certificate
          format: double
        issueReason:
          type: string
          description: Issue reason for the stock certificate
          enum:
          - ORIGINAL_ISSUANCE
          - ORIGINAL_ISSUANCE_WITH_VESTING
          - OTHER
        effectiveDate:
          type: string
          description: Effective date for the stock certificate
          format: date
        boardApprovalDate:
          type: string
          description: Board approval date for the stock certificate (if not supplied, the certificate will be created with an unapproved status)
          format: date
        vestingScheduleId:
          type: integer
          description: Identifier for the vesting schedule
          format: int32
        vestingScheduleName:
          type: string
          description: Name for the vesting schedule
        vestingStartDate:
          type: string
          description: Vesting base or commencement date for the vesting schedule
          format: date
        manualVestingRows:
          type: array
          description: List of all manual vesting rows for the stock certificate, specified when using a manual vesting schedule
          items:
            $ref: '#/components/schemas/ManualVestingRowDetails'
    VestingScheduleDetails:
      title: Vesting Schedule Response
      required:
      - vestingBasis
      - vestingScheduleDescription
      - vestingScheduleId
      - vestingScheduleName
      - vestingScheduleRows
      - wholeUnitVesting
      type: object
      properties:
        vestingScheduleId:
          type: integer
          description: Identifier for the vesting schedule
          format: int32
        vestingScheduleName:
          type: string
          description: Name for the vesting schedule
        vestingScheduleDescription:
          type: string
          description: Sentence(s) for describing the vesting schedule
        vestingBasis:
          type: string
          description: Basis type to specify how the vesting start date is determined
          enum:
          - GRANT_DATE
          - GRANT_VESTING_START_DATE
          - SPECIFIED_DATE
          - OTHER
        vestingBasisSpecifiedDate:
          type: string
          description: Date to be used as vesting start date for all grants/certificates using the schedule, only set when vestingBasis is SPECIFIED_DATE
          format: date
        vestingScheduleAllocationType:
          type: string
          description: Strategy for determination allocation of uneven tranches
          enum:
          - CUMULATIVE_ROUNDING
          - CUMUL_ROUND_V2
          - CUMULATIVE_ROUND_DOWN
          - FRONT_LOADED
          - FRONT_LOADED_TO_SINGLE_TRANCHE
          - BACK_LOADED
          - BACK_LOADED_TO_SINGLE_TRANCHE
          - OTHER
        wholeUnitVesting:
          type: boolean
          description: Whether fractional vesting tranches are disallowed (value 'true' indicates the allocation strategy will be used)
        vestingScheduleRows:
          type: array
          description: List of all rows/tranches for the vesting schedule
          items:
            $ref: '#/components/schemas/VestingScheduleRowDetails'
    VestingScheduleRowRequest:
      title: Vesting Schedule Row Body
      required:
      - amountDenominator
      - amountNumerator
      - vestingPeriodLength
      - vestingPeriodType
      type: object
      properties:
        amountNumerator:
          type: integer
          description: Numerator of the vesting amount for the row/tranche
          format: int64
        amountDenominator:
          type: integer
          description: Denominator of the vesting amount for the row/tranche
          format: int64
        vestingPeriodLength:
          type: integer
          description: Number of periods between the row/tranche and the previous row/tranche (or vesting start date)
          format: int32
        vestingPeriodType:
          type: string
          description: Type of vesting period for the row/tranche
          enum:
          - YEAR
          - MONTH
          - WEEK
          - DAY
      description: List of all rows/tranches for the vesting schedule
    EntityStakeholderCrudRequest:
      title: Entity Stakeholder Body
      type: object
      properties:
        stakeholderNumber:
          type: string
          description: Number for the stakeholder, typically generated
        entityName:
          type: string
          description: Name for the entity stakeholder
    SharePoolPlanDetails:
      title: Plan Response
      required:
      - planId
      - planName
      - sharePoolInitialAuthorizedQuantity
      - sharePoolIssueDate
      - sharePoolStockDesignationId
      type: object
      properties:
        planId:
          type: integer
          description: Identifier for the company plan
          format: int32
        planName:
          type: string
          description: Name for the company plan
        sharePoolIssueDate:
          type: string
          description: Issue date of the share pool
          format: date
        sharePoolInitialAuthorizedQuantity:
          type: number
          description: Initial authorized quantity of the share pool
          format: double
        sharePoolStockDesignationId:
          type: integer
          description: Identifier for the stock designation attached to the share pool
          format: int32
    CompanyBoardCrudRequest:
      title: Company Board Body
      required:
      - maximumSize
      - minimumSize
      - setAtSize
      type: object
      properties:
        maximumSize:
          type: integer
          description: Maximum number of stakeholders that may be on the board at one time
          format: int64
        minimumSize:
          type: integer
          description: Minimum number of stakeholders that must be on the board at one time
          format: int64
        setAtSize:
          type: integer
          description: The default, general, or target value at which the board is set and from which vacancies are relatively calculated
          format: int64
        quorumSize:
          type: integer
          description: Minimum amount of members required to be present to have a quorum
          format: int64
    ManualVestingRowCrudRequest:
      title: Manual Vesting Row Body
      type: object
      properties:
        vestDate:
          type: string
          description: Date on which the vesting occurs for the row/tranche
          format: date
        vestQuantity:
          type: number
          description: Quantity of shares to vest for the row/tranche
          format: double
      description: List of all manual vesting rows for the grant, specified when using a manual vesting schedule
    CompanyBoardDetails:
      title: Company Board Response
      required:
      - boardId
      - maximumSize
      - minimumSize
      - setAtSize
      type: object
      properties:
        boardId:
          type: integer
          description: Identifier for the company board
          format: int32
        minimumSize:
          type: integer
          description: Minimum number of stakeholders that must be on the board at one time
          format: int64
        maximumSize:
          type: integer
          description: Maximum number of stakeholders that may be on the board at one time
          format: int64
        setAtSize:
          type: integer
          description: The default, general, or target value at which the board is set and from which vacancies are relatively calculated
          format: int64
        quorumSize:
          type: integer
          description: Minimum amount of members required to be present to have a quorum
          format: int64
    CompanyCrudRequest:
      title: Company Body
      required:
      - companyName
      type: object
      properties:
        companyName:
          type: string
          description: Name for the company
        phone:
          type: string
          description: Primary phone number for the company
        fiscalYearEnd:
          type: string
          description: Fiscal year end for the company
          format: date
        initialNumberOfAuthorizedShares:
          type: number
          description: Number of shares used when creating the initial stock filing during company setup (if not provided, placeholder quantity of zero is used)
          format: double
        numberOfSharesWithVestingAllocatedToFounders:
          type: number
          description: Number of shares from the initial authorized shares that are allocated to the default vesting plan
          format: double
        parValue:
          type: number
          description: Par value used when creating the initial stock filing during company setup (if not provided, default value of 0.001 is used)
          format: double
        stateOfIncorporation:
          type: string
          description: The state of incorporation for the company, if it is U.S.-based
          enum:
          - CA_AB
          - CA_BC
          - CA_MB
          - CA_NB
          - CA_NL
          - CA_NS
          - CA_NT
          - CA_NU
          - CA_ON
          - CA_PE
          - CA_QC
          - CA_SK
          - CA_YT
          - US_AK
          - US_AL
          - US_AR
          - US_AZ
          - US_CA
          - US_CO
          - US_CT
          - US_DC
          - US_DE
          - US_FL
          - US_GA
          - US_HI
          - US_IA
          - US_ID
          - US_IL
          - US_IN
          - US_KS
          - US_KY
          - US_LA
          - US_MA
          - US_MD
          - US_ME
          - US_MI
          - US_MN
          - US_MO
          - US_MS
          - US_MT
          - US_NC
          - US_ND
          - US_NE
          - US_NH
          - US_NJ
          - US_NM
          - US_NV
          - US_NY
          - US_OH
          - US_OK
          - US_OR
          - US_PA
          - US_RI
          - US_SC
          - US_SD
          - US_TN
          - US_TX
          - US_UT
          - US_VA
          - US_VT
          - US_WA
          - US_WI
          - US_WV
          - US_WY
          - US_AA
          - US_AE
          - US_AP
          - AS
          - GU
          - MP
          - PR
          - VI
          - AU_ACT
          - AU_NSW
          - AU_NT
          - AU_QLD
          - AU_SA
          - AU_TAS
          - AU_VIC
          - AU_WA
          - DE_BW
          - DE_BY
          - DE_BE
          - DE_BB
          - DE_HB
          - DE_HH
          - DE_HE
          - DE_MV
          - DE_NI
          - DE_NW
          - DE_RP
          - DE_SL
          - DE_SN
          - DE_ST
          - DE_SH
          - DE_TH
          - CH_ZH
          - CH_BE
          - CH_LU
          - CH_UR
          - CH_SZ
          - CH_OW
          - CH_NW
          - CH_GL
          - CH_ZG
          - CH_FR
          - CH_SO
          - CH_BS
          - CH_BL
          - CH_SH
          - CH_AR
          - CH_AI
          - CH_SG
          - CH_GR
          - CH_AG
          - CH_TG
          - CH_TI
          - CH_VD
          - CH_VS
          - CH_NE
          - CH_GE
          - CH_JU
          - IT_21
          - IT_23
          - IT_25
          - IT_32
          - IT_34
          - IT_36
          - IT_42
          - IT_45
          - IT_52
          - IT_55
          - IT_57
          - IT_62
          - IT_65
          - IT_67
          - IT_72
          - IT_75
          - IT_77
          - IT_78
          - IT_82
          - IT_88
        dateOfIncorporation:
          type: string
          description: The date of incorporation for the company
          format: date
        entityType:
          type: string
          description: Entity type for the company (e.g. LLC)
          enum:
          - C_CORP
          - S_CORP
          - LLC
          - SOLE_PROPRIETORSHIP
          - PARTNERSHIP
          - UNINCORPORATED_GROUP
          - ASSOCIATION
          - UNKNOWN
        contacts:
          type: array
          description: List of all company contacts
          items:
            $ref: '#/components/schemas/CompanyContactCrudRequest'
        companyAddresses:
          type: array
          description: List of up to three company addresses
          items:
            $ref: '#/components/schemas/CompanyAddressCrudRequest'
        enforceOneToOneDesignationToFund:
          type: boolean
          description: Require unique Fund for each Designation
    SharePoolPlanCreationRequest:
      title: Plan Body
      required:
      - planName
      - sharePoolInitialAuthorizedQuantity
      - sharePoolIssueDate
      - sharePoolStockDesignationId
      type: object
      properties:
        planName:
          type: string
          description: Name for the company plan
        sharePoolIssueDate:
          type: string
          description: Issue date of the share pool
          format: date
        sharePoolInitialAuthorizedQuantity:
          type: integer
          description: Initial authorized quantity of the share pool
          format: int64
        sharePoolStockDesignationId:
          type: integer
          description: Identifier for the stock designation attached to the share pool
          format: int32
    CompanyBoardAppointmentDetails:
      title: Company Board Appointment Response
      required:
      - appointmentId
      - dateAppointed
      - email
      - isDeleted
      - isDirector
      - isIndependent
      - isOfficer
      - name
      - stakeholderId
      - title
      type: object
      properties:
        appointmentId:
          type: integer
          description: Identifier for the company board appointment
          format: int32
        stakeholderId:
          type: integer
          description: Identifier for the stakeholder
          format: int32
        name:
          type: string
          description: Formatted full name for the stakeholder
        email:
          type: string
          description: Personal email address for the stakeholder
        title:
          type: string
          description: Title of the stakeholder position on the board (e.g. CFO)
        isIndependent:
          type: boolean
          description: Whether the company board appointment is an independent
        isDirector:
          type: boolean
          description: Whether the company board appointment is a director
        isOfficer:
          type: boolean
          description: Whether the company board appointment is an officer
        isDeleted:
          type: boolean
          description: Whether the company board appointment has been removed
        dateAppointed:
          type: string
          description: Date of appointment for the company board appointment
          format: date
        dateApproved:
          type: string
          description: Date of approval for the company board appointment
          format: date
        dateTerminated:
          type: string
          description: Date of termination for the company board appointment
          format: date
        note:
          type: string
          description: Notes for the company board appointment
    StockFilingDetails:
      title: Stock Filing Response
      required:
      - classesOfSecurities
      - companyId
      - filingDate
      - stockFilingId
      type: object
      properties:
        stockFilingId:
          type: integer
          description: Identifier for the stock filing
          format: int32
        companyId:
          type: integer
          description: Identifier for the company
          format: int32
        filingDate:
          type: string
          description: Date on which the stock filing occurred
          format: date
        classesOfSecurities:
          type: array
          description: List of all classes of securities for the stock filing
          items:
            $ref: '#/components/schemas/StockFilingClassDetails'
    CompanyContactDetails:
      title: Company Contact Response
      required:
      - contactId
      - name
      type: object
      properties:
        contactId:
          type: integer
          description: Identifier for the company contact
          format: int32
        name:
          type: string
          description: Full name for the company contact
        title:
          type: string
          description: Title for the company contact (e.g. CEO)
        primaryEmailAddress:
          type: string
          description: Email address for the company contact
        primaryPhone:
          type: string
          description: Primary phone number for the company contact
        primaryPhoneExt:
          type: string
          description: Primary phone extension for the company contact, if applicable
      description: List of all company contacts
    ErrorWithCode:
      title: Validation Error
      required:
      - code
      - message
      type: object
      properties:
        message:
          type: string
          description: Message describing the error
        code:
          type: integer
          description: Unique code for the validation error
          format: int32
    CompanyBoardAppointmentCreateCrudRequest:
      title: Company Board Appointment Body
      required:
      - dateAppointed
      - isDirector
      - isIndependent
      - isOfficer
      - stakeholderId
      - title
      type: object
      properties:
        stakeholderId:
          type: integer
          description: Identifier for the stakeholder
          format: int32
        title:
          type: string
          description: Title of the stakeholder position on the board (e.g. CFO)
        isIndependent:
          type: boolean
          description: Whether the company board appointment is an independent
        isDirector:
          type: boolean
          description: Whether the company board appointment is a director
        isOfficer:
          type: boolean
          description: Whether the company board appointment is an officer
        dateAppointed:
          type: string
          description: Date of appointment for the company board appointment
          format: date
        dateApproved:
          type: string
          description: Date of approval for the company board appointment
          format: date
        dateTerminated:
          type: string
          description: Date of termination for the company board appointment
          format: date
        note:
          type: string
          description: Notes for the company board appointment
    StakeholderGrantDetails:
      title: Grant Response
      required:
      - allowEarlyExercise
      - awardTypeId
      - awardTypeName
      - expiryDate
      - grantCurrency
      - grantDate
      - grantId
      - grantName
      - grantNumber
      - grantPrice
      - grantedShares
      - marketPriceAtTimeOfGrant
      - planId
      - stakeholderId
      - underRule701
      - vestingScheduleId
      - vestingScheduleName
      - vestingStartDate
      type: object
      properties:
        grantId:
          type: integer
          description: Identifier for the grant
          format: int32
        planId:
          type: integer
          description: Identifier for the company plan
          format: int32
        stakeholderId:
          type: integer
          description: Identifier for the stakeholder
          format: int32
        awardTypeId:
          type: integer
          description: Identifier for the company award type
          format: int32
        awardTypeName:
          type: string
          description: Name for the company award type
        grantName:
          type: string
          description: Name for the grant, typically generated
        grantNumber:
          type: string
          description: Number for the grant, typically generated
        grantPrice:
          type: number
          description: Price at which the shares are granted
          format: double
        marketPriceAtTimeOfGrant:
          type: number
          description: The fair market value (or latest 409A valuation for private companies) at the time of grant (this is typically auto-populated from the most recent quote, but can also be specified if desired)
          format: double
        grantCurrency:
          type: string
          description: Currency for the grant price / market price at time of grant
          enum:
          - USD
          - CAD
          - GBP
          - EUR
          - JPY
          - AUD
          - KRW
          - DZD
          - AOA
          - ARS
          - AMD
          - AWG
          - BSD
          - BHD
          - BDT
          - BBD
          - BOB
          - BWP
          - BRL
          - BND
          - BGN
          - BZD
          - KYD
          - CLP
          - CNY
          - COP
          - CRC
          - HRK
          - CZK
          - DKK
          - DOP
          - XCD
          - EGP
          - ETB
          - FJD
          - XAF
          - GMD
          - GHS
          - GIP
          - GTQ
          - HNL
          - HKD
          - HUF
          - ISK
          - INR
          - IDR
          - IQD
          - ILS
          - JMD
          - JOD
          - KZT
          - KES
          - KWD
          - LSL
          - MOP
          - MWK
          - MYR
          - MUR
          - MXN
          - MAD
          - MZN
          - MMK
          - NAD
          - ANG
          - NZD
          - NGN
          - NOK
          - OMR
          - PKR
          - PAB
          - PGK
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - SAR
          - RSD
          - SCR
          - SGD
          - ZAR
          - SDG
          - LKR
          - SZL
          - SEK
          - CHF
          - TWD
          - TZS
          - THB
          - TTD
          - TND
          - TRY
          - UGX
          - UAH
          - AED
          - UYU
          - UZS
          - VEF
          - VES
          - VND
          - XOF
          - ZWL
          - ZMW
        grantDate:
          type: string
          description: Date on which the shares are granted
          format: date
        expiryDate:
          type: string
          description: Expiry date for the grant
          format: date
        grantedShares:
          type: number
          description: Quantity of shares for the grant
          format: double
        allowEarlyExercise:
          type: boolean
          description: Whether early exercises are allowed for the grant
        underRule701:
          type: boolean
          description: Whether rule 701 applies to the grant
        vestingScheduleId:
          type: integer
          description: Identifier for the vesting schedule
          format: int32
        vestingScheduleName:
          type: string
          description: Name for the vesting schedule
        vestingStartDate:
          type: string
          description: Vesting base or commencement date for the vesting schedule
          format: date
        manualVestingRows:
          type: array
          description: List of all manual vesting rows for the grant, specified when using a manual vesting schedule
          items:
            $ref: '#/components/schemas/ManualVestingRowDetails'
        vestingAcceleration:
          type: array
          description: List of the vesting acceleration stipulations of the grant. May be empty.
          items:
            $ref: '#/components/schemas/StakeholderGrantAcceleratedVestingDetails'
    VestingScheduleCrudRequest:
      title: Vesting Schedule Body
      required:
      - vestingBasis
      - vestingScheduleDescription
      - vestingScheduleName
      - vestingScheduleRows
      - wholeUnitVesting
      type: object
      properties:
        vestingScheduleName:
          type: string
          description: Name for the vesting schedule
        vestingScheduleDescription:
          type: string
          description: Sentence(s) for describing the vesting schedule
        vestingBasis:
          type: string
          description: Basis type to specify how the vesting start date is determined
          enum:
          - GRANT_DATE
          - GRANT_VESTING_START_DATE
          - SPECIFIED_DATE
          - OTHER
        vestingBasisSpecifiedDate:
          type: string
          description: Date to be used as vesting start date for all grants/certificates using the schedule, only set when vestingBasis is SPECIFIED_DATE
          format: date
        vestingScheduleAllocationType:
          type: string
          description: Strategy for determination allocation of uneven tranches
          enum:
          - CUMULATIVE_ROUNDING
          - CUMUL_ROUND_V2
          - CUMULATIVE_ROUND_DOWN
          - FRONT_LOADED
          - FRONT_LOADED_TO_SINGLE_TRANCHE
          - BACK_LOADED
          - BACK_LOADED_TO_SINGLE_TRANCHE
          - OTHER
        wholeUnitVesting:
          type: boolean
          description: Whether fractional vesting tranches are disallowed (value 'true' indicates the allocation strategy will be used)
        vestingScheduleRows:
          type: array
          description: List of all rows/tranches for the vesting schedule
          items:
            $ref: '#/components/schemas/VestingScheduleRowRequest'
    StockCertificateCrudRequest:
      title: Stock Certificate Body
      required:
      - effectiveDate
      - issuePrice
      - quantity
      - stockCertificateNumber
      - stockDesignationId
      type: object
      properties:
        stockDesignationId:
          type: integer
          description: Identifier for the stock designation
          format: int32
        effectiveDate:
          type: string
          description: Effective date for the stock certificate
          format: date
        quantity:
          type: number
          description: Quantity of shares for the stock certificate
          format: double
        issuePrice:
          type: number
          description: Issue price (a.k.a. strike price) for the stock certificate
          format: double
        boardApprovalDate:
          type: string
          description: Board approval date for the stock certificate (if not supplied, the certificate will be created with an unapproved status)
          format: date
        stockCertificateNumber:
          type: string
          description: Number for the stock certificate
        vestingScheduleId:
          type: integer
          description: Identifier for the vesting schedule
          format: int32
        vestingStartDate:
          type: string
          description: Vesting base or commencement date for the vesting schedule
          format: date
        manualVestingRows:
          type: array
          description: List of all manual vesting rows for the stock certificate, specified when using a manual vesting schedule
          items:
            $ref: '#/components/schemas/ManualVestingRowCrudRequest'
    StakeholderGrantCrudRequest:
      title: Grant Body
      required:
      - allowEarlyExercise
      - awardTypeId
      - expiryDate
      - grantCurrency
      - grantDate
      - grantPrice
      - grantedShares
      - planId
      - underRule701
      - vestingScheduleId
      type: object
      properties:
        planId:
          type: integer
          description: Identifier for the company plan
          format: int32
        grantName:
          type: string
          description: Name for the grant, typically generated
        awardTypeId:
          type: integer
          description: Identifier for the company award type
          format: int32
        grantDate:
          type: string
          description: Date on which the shares are granted
          format: date
        expiryDate:
          type: string
          description: Expiry date for the grant
          format: date
        grantPrice:
          type: number
          description: Price at which the shares are granted
          format: double
        grantCurrency:
          type: string
          description: Currency for the grant price / market price at time of grant
          enum:
          - USD
          - CAD
          - GBP
          - EUR
          - JPY
          - AUD
          - KRW
          - DZD
          - AOA
          - ARS
          - AMD
          - AWG
          - BSD
          - BHD
          - BDT
          - BBD
          - BOB
          - BWP
          - BRL
          - BND
          - BGN
          - BZD
          - KYD
          - CLP
          - CNY
          - COP
          - CRC
          - HRK
          - CZK
          - DKK
          - DOP
          - XCD
          - EGP
          - ETB
          - FJD
          - XAF
          - GMD
          - GHS
          - GIP
          - GTQ
          - HNL
          - HKD
          - HUF
          - ISK
          - INR
          - IDR
          - IQD
          - ILS
          - JMD
          - JOD
          - KZT
          - KES
          - KWD
          - LSL
          - MOP
          - MWK
          - MYR
          - MUR
          - MXN
          - MAD
          - MZN
          - MMK
          - NAD
          - ANG
          - NZD
          - NGN
          - NOK
          - OMR
          - PKR
          - PAB
          - PGK
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - SAR
          - RSD
          - SCR
          - SGD
          - ZAR
          - SDG
          - LKR
          - SZL
          - SEK
          - CHF
          - TWD
          - TZS
          - THB
          - TTD
          - TND
          - TRY
          - UGX
          - UAH
          - AED
          - UYU
          - UZS
          - VEF
          - VES
          - VND
          - XOF
          - ZWL
          - ZMW
        grantedShares:
          type: number
          description: Quantity of shares for the grant
          format: double
        vestingScheduleId:
          type: integer
          description: Identifier for the vesting schedule
          format: int32
        vestingStartDate:
          type: string
          description: Vesting base or commencement date for the vesting schedule
          format: date
        marketPriceAtTimeOfGrant:
          type: number
          description: The fair market value (or latest 409A valuation for private companies) at the time of grant (this is typically auto-populated from the most recent quote, but can also be specified if desired)
          format: double
        allowEarlyExercise:
          type: boolean
          description: Whether early exercises are allowed for the grant
        underRule701:
          type: boolean
          description: Whether rule 701 applies to the grant
        manualVestingRows:
          type: array
          description: List of all manual vesting rows for the grant, specified when using a manual vesting schedule
          items:
            $ref: '#/components/schemas/ManualVestingRowCrudRequest'
        vestingAcceleration:
          type: array
          description: (Optional) List of the vesting acceleration stipulations of the grant. May be empty. Include one stipulation per trigger that is applicable.
          items:
            $ref: '#/components/schemas/StakeholderGrantAcceleratedVestingCrudRequest'
    CompanyAddressDetails:
      title: Company Address Response
      required:
      - addressLine1
      - addressType
      - city
      - companyAddressId
      - country
      type: object
      properties:
        companyAddressId:
          type: integer
          description: Identifier for the company address
          format: int32
        addressLine1:
          type: string
          description: First address line
        addressLine2:
          type: string
          description: Second address line, if needed
        addressLine3:
          type: string
          description: Third address line, if needed
        city:
          type: string
          description: City or municipality of the address
        stateProvince:
          type: string
          description: State or province of the address
          enum:
          - CA_AB
          - CA_BC
          - CA_MB
          - CA_NB
          - CA_NL
          - CA_NS
          - CA_NT
          - CA_NU
          - CA_ON
          - CA_PE
          - CA_QC
          - CA_SK
          - CA_YT
          - US_AK
          - US_AL
          - US_AR
          - US_AZ
          - US_CA
          - US_CO
          - US_CT
          - US_DC
          - US_DE
          - US_FL
          - US_GA
          - US_HI
          - US_IA
          - US_ID
          - US_IL
          - US_IN
          - US_KS
          - US_KY
          - US_LA
          - US_MA
          - US_MD
          - US_ME
          - US_MI
          - US_MN
          - US_MO
          - US_MS
          - US_MT
          - US_NC
          - US_ND
          - US_NE
          - US_NH
          - US_NJ
          - US_NM
          - US_NV
          - US_NY
          - US_OH
          - US_OK
          - US_OR
          - US_PA
          - US_RI
          - US_SC
          - US_SD
          - US_TN
          - US_TX
          - US_UT
          - US_VA
          - US_VT
          - US_WA
          - US_WI
          - US_WV
          - US_WY
          - US_AA
          - US_AE
          - US_AP
          - AS
          - GU
          - MP
          - PR
          - VI
          - AU_ACT
          - AU_NSW
          - AU_NT
          - AU_QLD
          - AU_SA
          - AU_TAS
          - AU_VIC
          - AU_WA
          - DE_BW
          - DE_BY
          - DE_BE
          - DE_BB
          - DE_HB
          - DE_HH
          - DE_HE
          - DE_MV
          - DE_NI
          - DE_NW
          - DE_RP
          - DE_SL
          - DE_SN
          - DE_ST
          - DE_SH
          - DE_TH
          - CH_ZH
          - CH_BE
          - CH_LU
          - CH_UR
          - CH_SZ
          - CH_OW
          - CH_NW
          - CH_GL
          - CH_ZG
          - CH_FR
          - CH_SO
          - CH_BS
          - CH_BL
          - CH_SH
          - CH_AR
          - CH_AI
          - CH_SG
          - CH_GR
          - CH_AG
          - CH_TG
          - CH_TI
          - CH_VD
          - CH_VS
          - CH_NE
          - CH_GE
          - CH_JU
          - IT_21
          - IT_23
          - IT_25
          - IT_32
          - IT_34
          - IT_36
          - IT_42
          - IT_45
          - IT_52
          - IT_55
          - IT_57
          - IT_62
          - IT_65
          - IT_67
          - IT_72
          - IT_75
          - IT_77
          - IT_78
          - IT_82
          - IT_88
        country:
          type: string
          description: Country of the address
          enum:
          - CA
          - US
          - GB
          - AU
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BV
          - BW
          - BY
          - BZ
          - CC
          - CD
[...]
